.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../imagens/muro\ II.jpg")

}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: black;
    color: red;
    border-bottom: 5px solid gold;
    padding: 60px;
}
.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2){
    color: white;
    text-align: center;
    margin-top: 15px;
}

.panel{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    
}
.menu-lives, img{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: rgb(149, 234, 234);
}
.enemy{
    background-image: url(../imagens/Ralph.png);
    background-size: cover;
}


footer{
    background-color: black;
    padding: 15px;
    text-align: center;
    color: rgb(242, 233, 233);
    text-transform: uppercase;
}